.cover-wrapper {
    padding-top: 96px;
    position: relative;
    background-image: url("../images/cover3.png");
    background-size: cover;
    background-position: center;
    height: 562px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cover-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 56px;
  }
  
  .cover-info-wrapper h2 {
    font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  text-align: center; 
  max-width: 100%; 
  margin: 0 auto;
  }
  .input-container {
    display: flex;
  }
  .input-container{
    display: flex;
    border: solid 2px white;
    border-radius: 8px;
    overflow: hidden; 
  }
  .email-input {
    border: none;
    width: 300px; 
    padding: 10px;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
  }
  .email-input::placeholder {
    color: #D5906E; /
  }
  .email-input:focus{
    outline: none;
  }
  .search-button {
    width: 150px; 
    background-color: #B53B1B ; 
    color: #ffffff; 
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
 /* second section */

 .slide-section{
    background-color: #EA904F;
    display: flex;
    flex-direction: column;
    padding: 120px 120px;
  }
  .texts-before-slide{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
  }
  .texts-before-slide h2{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }
  .sort-button{
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 160px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #402101;
    border: 2px solid #B53B1B;
    background-color: #ffffff;
    margin-left: auto; /* Push the button to the right */

  }
  .photos-here {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between each photo */
  }
  
  .each-photo {
    flex: 1 1 20%; /* 3 photos in each row with margin in between */
    /* max-width: calc(33.33% - 20px); */
    box-sizing: border-box;
  }