.contact-cover {
    position: relative;
    background-image: url("../images/cover4.jpg");
    background-size: cover;
    background-position: center;
    height: 720px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-wrapper {
    width: 500px;
    height: 400px;
    padding: 24px 30px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(64, 33, 1, 0.90);
    box-shadow: -1px -1px 4px 0px #FFF;
  }
  
  .form-wrapper h2 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
  }
  
  .name-email {
    display: flex;
    gap: 60px;
    margin-bottom: 36px;
  }
  
  .form-wrapper input {
    border-radius: 10px;
    border: 2px solid #FFF;
    align-items: flex-start;
    /* align-items: center; */
    padding: 10px;
    background-color: transparent;
  }
  
  .form-wrapper input[name="message"] {
    width: 440px;
    height: 96px;
    margin-bottom: 16px;
  }
  
  