@media(max-width: 1024px){
    /* footer */
    .footer-flex {
        padding: 80px 32px;
    }
}

@media(max-width: 744px){
    .burger-bar{
        display: block;
    }
    .burger-bar.active .burger-line:nth-child(2){
        opacity: 0;
    }
    .burger-bar.active .burger-line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger-bar.active .burger-line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-ul-items{
        position: fixed;
        left: -100%;
        top: 67px;
        gap: 0;
        flex-direction: column;
        background-color: #B53B1B ;
        width: 30%;
        height: 25%;
        justify-content: space-evenly;
        text-align: center;
        transition: 0.5s;
    }
    .nav-ul-items.active{
        left: 0;
    }
        /* header */
    .logo{
    font-size: 36px;
    }
       /* section 2  */
    .photo-wrapper {
        width: 100%;
    }
       /* Section 3 */
       /* Section 4 */
       .sec4-info-wrapper h2 {
        font-size: 36px;
      }
    
      .email-input {
        width: 90%;
      }

      /* footer */
      .footer-flex {
        padding: 80px 24px;
    }


}
@media(max-width: 480px){
    /* header */
    .logo{
        display: flex;
        flex-direction: column;
        font-size: 32px;
    }

     /* First Section  */
    .sec1-info-wrapper{
        gap: 32px;
        width: 388px;
     }
    .sec1-text{
        font-size: 32px;
     }

     /* Second sections */
     .photo-wrapper {
      width: 100%;
}    
     /* Third Section */

     /* Fourth Section */
     .sec4-info-wrapper h2 {
        font-size: 32px;
      }
    
      .email-input {
        width: 90%;
      }
      .footer-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
}


