@media (max-width: 970px) {
    .burger-bar {
        display: block;
    }

    .burger-bar.active .burger-line:nth-child(2) {
        opacity: 0;
    }

    .burger-bar.active .burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-bar.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-ul-items {
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #B53B1B;
        width: 60%;
        height: 100%;
        justify-content: space-evenly;
        text-align: center;
        transition: 0.5s;
        padding: 50px;
    }

    .nav-ul-items.active {
        left: 0;
    }
    

    /* header */
    .logo {
        font-size: 36px;
    }
    }

@media (max-width: 745px) {

    /* header */
    header {
        padding-inline: 24px;
    }

    /* section 2  */
    .sec2-wrapper {
        width: 384px;
    }

    .box {
        width: 180px;
        height: 162px;
    }

    .text-wrapper {
        padding: 8px;
        width: 150px;
    }
    /* reviews */
    .index-section5 {
        padding-inline: 20px;
        padding-top: 64px;
        padding-bottom: 64px; 
        height: auto; 
      }
    .blocks{
        display: flex;
        flex-direction: column;
        
    }

    /* Section 3 */
    .slide-section {
        padding-inline: 24px;
    }

    /* Section 4 */

    .email-input {
        width: 90%;
    }
    .photos-here .each-photo:nth-last-child(-n + 3) {
        display: none; 
    }
    /* footer */
    footer {
        padding-inline: 32px;
    }
    /* second page */
    .slide-section {
        padding: 120px 24px;
    }
    .texts-before-slide h2 {
        font-size: 24px;
    }
    .each-photo {
        flex: 1 0 48%;
        max-width: 48%;
    }
    /* third page */
   
    .map-and-icons ul {
        list-style: none;
        display: flex;
        gap: 72px;
    }
    .map-and-icons {
        display: flex;
        flex-direction: column;
    }
    .map-and-icons iframe {
        width: 99%;
    }
    .map-and-icons ul li {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .map-and-icons ul li img {
        width: 48px;
        height: 48px;
    }
    .map-and-icons ul li span {
        display: none;
    }
  }
  
  @media (max-width: 720px) {

    /* section 4 index */
    .section4 {
        padding-inline: 20px;
        height: 320px;
        row-gap: 32px;
    }

    .section4 h2 {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .email-input {
        width: 90%;
    }

    /* footer */
    footer {
        flex-direction: column;
        padding: 32px 0;
        align-items: center;
        text-align: center;
        row-gap: 32px;
    }

    /* artworks page */
    .slide-section {
        padding-block: 64px;
    }

    .texts-before-slide {
        margin-bottom: 42px;
    }

    .texts-before-slide h2 {
        font-size: 16px;
    }

}

@media (max-width: 560px) {
    .contact-cover {
        padding-inline: 20px;
        height: 560px;
    }

    .form-wrapper {
        width: 100%;
    }

    .form-wrapper h2 {
        font-size: 32px;
    }
}
